<body>
  
<app-header/>

<main class="container">
  <div class="main-container">
    <img class="main-image" src="https://images.pexels.com/photos/1961791/pexels-photo-1961791.jpeg?cs=srgb&dl=pexels-valeriya-1961791.jpg&fm=jpg" alt="">
    <h2 class="title-perfume">Perfume 1</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quos voluptatibus dolorum, sed atque neque? Vel repudiandae magnam facere voluptate eum. Accusantium rem officiis exercitationem iure amet! Repellendus beatae tempore eligendi blanditiis quas quidem ut earum sapiente ipsa quasi, hic aut, possimus officiis quo cumque in architecto, iusto eveniet veniam?</p>
    <div class="Especificación">
      <h2 class="title-perfume">Especificaciones</h2>
      <ul>
        <li>Categoria:</li>
        <li>Cantidad:</li>
        <li>Concentración:</li>
        <li>Marca:</li>
      </ul>
    </div>
    <h2 class="title-perfume">Instructions</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, accusamus a doloribus recusandae soluta ad veniam labore et quo reiciendis facilis suscipit eos, culpa saepe ea exercitationem maxime! Ratione, totam eaque beatae vitae excepturi corrupti quos, quae ipsum rem qui architecto. Temporibus et provident voluptatem architecto deserunt labore? At, neque.</p>
  </div>
  <div class="div-container">
    <div class="div-container-1">
      <h2 class="title-perfume">Perfume 1</h2>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, autem nisi veniam quibusdam sunt ut suscipit doloribus possimus iste cumque maiores recusandae aut assumenda unde eaque quos facilis fugit aliquam a magni quis obcaecati? Aut repellendus provident atque unde qui cupiditate nemo quaerat quos. Omnis non fugiat magni fuga deleniti?</p>
    </div>
    <div>
      <h3 class="price">65$</h3>
      <div class="car">
        <input
          type="number"
          name="product-quantity"
          id="product-quantity"
          value="1"
          min="1"
          max="5"
        />
        <button type="button" class="add-to-cart">Add to cart</button>
      </div>
    </div>
    <div class="div-container-2">
      <h3 class="title-perfume">Más Perfumes</h3>
      <div>
        <a href=""><img src="" alt=""></a>
        <div>
          <h4><a>Perfume</a></h4>
          <p>New perfume</p>
        </div>
      </div>
      <div>
        <a href=""><img src="" alt=""></a>
        <div>
          <h4><a>Perfume</a></h4>
          <p>New perfume</p>
        </div>
      </div>
      <div>
        <a href=""><img src="" alt=""></a>
        <div>
          <h4><a>Perfume</a></h4>
          <p>New perfume</p>
        </div>
      </div>
    </div>
  </div>
</main>

@if(footer()) {
  <app-footer/>
}

</body>