* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: antiquewhite;
}

#header {
    width: 100%;
    text-align: left;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-banner-creativo-flores-elegantes_1035-17890.jpg?t=st=1719815425~exp=1719819025~hmac=8cb18c538c9b48ed8001179b2da416a2c441ac4ebd290bb4d6023396aa42d67c&w=1380);
    background-size:  cover;
    -moz-background-size:  cover;
    -webkit-background-size:  cover;
    -o-background-size:  cover;
    height: auto;
    justify-self: center;
    color: #0a1225;
    padding-top: 30px;
    object-fit: cover;
}
 
h1 {
    margin-left: 75px;
    background-color: linear-gradient (#52088b, #0a1225);
    font-size: 50px;
}

section {
    margin-bottom: 25px;
}

.section {
    display: flex;
    justify-content: center;
}

.article {
    width: 400px;
    height: 400px;
    display: flex;
}

.section-principal-card {
    height: 400px;
}

.title-principal-card-1 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 10px 0px 10px;
}

.img-principal-card-1 {
    background-image: url(https://images.pexels.com/photos/1961791/pexels-photo-1961791.jpeg?cs=srgb&dl=pexels-valeriya-1961791.jpg&fm=jpg);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-principal-card-1 {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 320px;
    margin-left: 10px;
}

.button-principal-card-1:hover {
    background-color: #444;
}

.division-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
}

.title-principal-card-2 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 10px 0px 10px;
}

.img-principal-card-2 {
    background-image: url(https://images.pexels.com/photos/1961791/pexels-photo-1961791.jpeg?cs=srgb&dl=pexels-valeriya-1961791.jpg&fm=jpg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.button-principal-card-2 {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 110px 0px 0px 50px
}

.button-principal-card-2:hover {
    background-color: #444;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

#about {
    padding: 2rem 1rem;
    text-align: center;
}

#products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
}

footer {
    height: 90px;
}